{% extends 'website/base.html' %}

{% block title %}All{% endblock %}

{% block content %}

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {% for item in items %}
    <div class="borderborder-gray-500" style="border-width: 0.2px;">
        <a href="{% url 'item:detail' item.id %}" class="block h-full">
            <div class="h-[270px]">
                <img src="{{ item.image.url }}" class="h-full w-full object-contain" alt="{{ item.name }}">
            </div>

            <div class="p-6 text-center">
                <p class="text-sm lg:text-md font-medium">{{ item.name }}</p>
                <p class="text-gray-500 text-xs lg:text-sm">$ {{ item.price }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}