{% extends 'website/base.html' %}

{% block title %}{{item.name}}{% endblock %}

{% block content %}

<div class="container">
    <div class="grid grid-cols-12">
        <div class="col-span-1"></div>
        <div class="col-span-5">
            <img src="{{ item.image.url }}" class="h-full w-full object-fill">
        </div>
        <div class="col-span-6 p-10  bg-[#dbf4ff]">
            <!-- Seller -->
            <a href="#" class="">
                <div class="flex gap-3 mb-6">
                    <div
                        class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-300 bg-[#2e708c] text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                        </svg>
                    </div>
                    <div>{{item.seller.username}}</div>
                </div>
            </a>

            <!-- Item info -->
            <div class="flex flex-col gap-2">
                <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
                {% if item.description %}
                <p class="text-gray-700">
                    <strong class="text-gray-500">Description:</strong>
                    {{ item.description }}
                </p>
                {% endif %}
                <p class="text-gray-700">
                    <strong class="text-gray-500">Price:</strong>
                    $ {{ item.price }}
                </p>
                <p class="text-gray-700">
                    <strong class="text-gray-500">Condition:</strong>
                    {% if item.is_new %}
                    New
                    {% else %}
                    Pre-owned
                    {% endif %}
                </p>
                <p class="text-gray-700">
                    <strong class="text-gray-500">Quantity:</strong>
                    {{item.quantity}}
                </p>
            </div>

            <!-- Buttons -->
            <div class="mt-[100px] flex gap-4">
                {% if request.user == item.seller %}

                <!-- Edit, Delete buttons -->
                <div class="flex gap-4">
                    <a href="{% url 'item:edit_item' item.id %}" title="Edit">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="width: 30px; height: 30px;"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1b5066" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                        </svg>
                    </a>
                    <a href="{% url 'item:delete_item' item.id %}" title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="width: 30px; height: 30px;"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#FF0000" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </a>
                </div>

                {% else %}
                <a href="#"
                    class="flex px-8 py-2.5 items-center justify-center  bg-[#42abed] text-white rounded-sm ">Add
                    to cart</a>
                <a href="{% url 'conversation:new_item_conversation' item.id %}"
                    class="flex  px-8 py-2.5 items-center justify-center text-[#42abed] bg-white rounded-sm"
                    style=" border: 1px solid #42abed;">Contact
                    seller</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="w-full bg-gray-200 h-[1px] mt-[100px]"></div>

    <div class="mt-[20px]">

        <div class="text-center text-lg font-medium">RELATED ITEMS</div>
        <div class="grid grid-cols-6 mt-4">
            {% for item in related_items %}
            <div class="borderborder-gray-500" style="border-width: 0.2px;">
                <a href="{% url 'item:detail' item.id %}" class="block h-full">
                    <div class="h-[150px]">
                        <img src="{{ item.image.url }}" class="h-full w-full object-contain" alt="{{ item.name }}">
                    </div>

                    <div class="px-6 py-4 text-center">
                        <p class="text-sm font-medium">{{ item.name }}</p>
                        <p class="text-gray-500 text-xs">$ {{ item.price }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}