<nav class="navbar navbar-expand-lg navbar-dark bg-dark flex justify-between items-center">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="flex-shrink-0">
            <a class="navbar-brand " href="{% url 'index' %}">GigaStore</a>
        </div>

        <!-- Browse -->
        <form class="d-flex flex-grow text-center ml-[10%] mr-[10%]" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <!-- Links -->
        <div class=" flex-shrink-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>