{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Sign Up</h1>
    <br />

    <!-- blank action means we send POST request to the current url -->
    <form method="POST" action="">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger small alert-dismissible fade show" role="alert">
            Some information are invalid
            {% for field in form %}
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        {{form.as_p}}

        <br />
        <button type="submit" class="btn btn-secondary">
            Sign Up
        </button>
    </form>
</div>

{% endblock %}